{
    "plugins": ["prettier-plugin-tailwindcss"],
    "printWidth": 80,
    "tabWidth": 2,
    "useTabs": false,
    "semi": true,
    "singleQuote": false,
    "trailingComma": "es5",
    "arrowParens": "always",
    "endOfLine": "auto",
    "jsxBracketSameLine": false,
    "quoteProps": "consistent",
    "bracketSpacing": true
}
