@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/variable/pretendardvariable.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    color: var(--primary);
  }
}

html,
body {
  font-family:
    "Pretendard Variable",
    -apple-system,
    BlinkMacSystemFont,
    system-ui,
    sans-serif;
}
